<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's TheraBot</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> TheraBot Home </h1>
      <p> A helpful desk robot with character! </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
      <a class="linkbutton" href="/ui"> UI </a>
      <a class="linkbutton" href="/features"> Features </a>
      <a class="linkbutton" href="/interactions"> Interactions </a>
    </div>

    <section class='padding-responsive'>

      <div class='separator'>Our Team</div>

      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class='separator'>Our Product</div>

      <h2 class='bordered'> TheraBot </h2>

      <hr>

      <p> Our product is a helping hand, a happy face, and a loveable friend all in one. TheraBot is the first of its kind desk robot that ensures you never feel alone when working at home. TheraBot keeps you motivated by responding to you and cheering you on, and shows that emotion in its face and incredible dance moves. TheraBot also has customizable reactions and personalities, allowing you to truly build your own perfect friend.</p>

      <ul>
        <li> TheraBot cheers you on and is always there for you. </li>
        <li> TheraBot has incredible dance moves, and loves showing them off. </li>
        <li> TheraBot has many personalities, and wants to show you them all. </li>
      </ul>

      <div class='separator'>TheraBot Mockup</div>

      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1Od6Mj0y3kcRrFJZ0ulewG649ePPw5h4X" alt="TheraBot Mockup">
      </div>
      

      <div class='separator'>Assignment 3 Changes:</div>
      <ol>
        <li>Image was added to improve "Visibility". This is because users looking at the page are expecting to see what the product will look like. This also improves the user's understanding of the product.</li>
        <li>On the product page, the small text separators were changed to large, borded headings. This is for the dimension "Abstraction Gradient", because having a large amount of text all following eachother leads to cognitive load. To help imrpove this, I decided to change the separators to improve the experience for the reader by spacing the text furhter apart.</li>
        <li>The site navigation at the top was changed to include all pages, rather than just the other two pages that the user wasn't currently viewing. This helps with Consistency, so you always know where the Home, Product Page, and KVP links are, regardless of what page you are on. It also goes hand in hand with reducing Error-Proneness, since users are less likely to accidentally click on the wrong page.</li>
      </ol>
      

    </section>

  </body>
</html>