<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's TheraBot</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> TheraBot KVP </h1>
      <p> The Key Value Proposition. </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
      <a class="linkbutton" href="/ui"> UI </a>
    </div>

    <section class='padding-responsive'>

      <div class='separator'>The KVP</div>

      <p> Our helpful, friendly desk robot helps students and employees working alone at home who want to both feel supported throughout their day and feel as if they are not alone and have a friend with them at all times by reducing the feeling of loneliness by engaging with the owner using a variety of unique responses and personalities and increasing the productivity because the owner feels supported unlike other desk robots and toys who have no way of interacting with their owners nor do they typically do anything useful or productive. </p>

    </section>

  </body>
</html>