<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's BotBuddy</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> BotBuddy Pivots </h1>
      <p> Our pivots. </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
      <a class="linkbutton" href="/ui"> UI </a>
      <a class="linkbutton" href="/features"> Features </a>
      <a class="linkbutton" href="/interactions"> Interactions </a>
      <a class="linkbutton" href="/revenue"> Revenue Model </a>
      <a class="linkbutton" href="/pivots"> Pivots </a>
    </div>

    <section class='padding-responsive'>

      <h2 class='bordered'> Our Pivots </h2>

      <p>When we first began this course and our product development, we were thinking about creating a product thats main pupose was to be a therapeutic robot. We thought of this because we liked the idea of a desk robot that acted as your friend, and wanted to apply it to what we have learned and experienced through COVID with regards to the large increases in mental health issues and others like depression, anxiety, and the feeling of lonelieness.</p>

      <p>As the weeks went on, we learned that out idea was alright, but we could pivot to be so much more. Our major pivot came when we decided to focus less on therapy and emotions, and more on just having fun with our product. This opens up our market massively, where instead of just focusing on people who feel alone when they work at home, we are targetting anyone and everyone. Our product is now a product you can place on your desk, or anywhere else in your home. Its meant to have fun with you and be your friend. With this new approach, our market expands to so many more poeple, instead of a limited subset of remote employees and students.</p>

      <p>As of now, we are confident in the product idea as well as the product itself. Going beyong this course, the only potential pivot I can think of is maybe the pivot for our BotBuddy to be more utlity-focused. For example, we would love for BotBuddy to be able to connect into your calendar, to-do lists, reminders, and more to be able to let you know when certain things happen. This would make our product both fun and your friend, as well as giving it even more utility to help you out.</p>

      <br>
      <br>

      <p>I think that the "customer segment pivot" best suits what we have done. This is because we originally focused in on the wrong customer segment, and have now pivoted to a much larger, broader market. Even though the original customer base is a subset of our current market, we still had a shift because what we originally envisioned and realized later on led us to grow our boundaries and expand who we were aiming to sell to. Our pivot would be like the "zoom-out pivot", but instead of zooming out on a feature- and product-level, we are zooming out on a customer- and market-level.</p>
      
      
    </section>

  </body>
</html>