<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's TheraBot</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> TheraBot Product Page </h1>
      <p> A helpful desk robot with character! </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
    </div>

    <section class='padding-responsive'>

      <h2 class='bordered'> What is TheraBot? </h2>

      <p> TheraBot is a one of a kind desk robot and friend. It is a simple little guy who comes with many personalities, attitudes, and a whole lot of character. TheraBot sits on your desk, supporting you throughout your day, giving you sass, answering your questiobs, asking YOU questions, and so much more. </p>
      <p> TheraBot is meant to be your friend when you have to work at home alone. You can say things to him, and he'll respond. You can ask him to do simple tasks, and he'll do them. He has a life of his own, and makes sure to let you know how he's feeling. With customizable reactions and personalities, TheraBot is meant for everyone. </p>

      <h2 class='bordered'> Who is it for? </h2>

      <p> The ideal customer for TheraBot is anyone who works from home. Whether you're a student, a remote employee, or anyone else who occassionaly works from your own desk, TheraBot is a perfect companion for that time. With COVID came a complete rework of how people do their jobs, and now millions of employees work fully or partially remote, and many students still have online classes. With the rise of depression and the feeling of loneliness in our society, TheraBot is meant to support you when you are all alone, doing something you may not love. </p>

      <h2 class='bordered'> How does it work? </h2>

      <p> TheraBot is a pretty simply device, made from only a few materials. There is a screen that acts as the face/eyes and shows expressions, there is a speaker that acts as the mouth, there is a microphone as the ears to hear what you say, there is a small computer working as the brains of the operation, and there is a fun, specially designed plastic housing to encase it all. TheraBot is meant to shwo you emotion and interact with you, and it does so by utilizing the screen and speakers. The outer casing is also a nice feature, allowing you to change TheraBot's appearance within seconds, and doing so might also change the way he acts...</p>
      <p> One big element of this project is keeping the cost of TheraBot low. We want it to be accessible to everyone at a reasonable price. Looking at the market, there is a lot of room for desk robots; the few competing products were loved by tens of thousands, even while costing several hundreds of dollars. TheraBot is built to be mass produced, affordably priced, as well as have the potential for future revenue streams with different looks, accessories, and other upgrades. </p>

      <h2 class='bordered'> Empathy Map </h2>

      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1b44986_ZdoktTXwsK1xSjULV75Wvqpwz" alt="Empathy Map">
      </div>
      
      
      
      
    </section>

  </body>
</html>