<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's BotBuddy</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> BotBuddy Revenue </h1>
      <p> Assignment 7 </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
      <a class="linkbutton" href="/ui"> UI </a>
      <a class="linkbutton" href="/features"> Features </a>
      <a class="linkbutton" href="/interactions"> Interactions </a>
      <a class="linkbutton" href="/revenue"> Revenue Model </a>
      <a class="linkbutton" href="/pivots"> Pivots </a>
    </div>

    <section class='padding-responsive'>

      <h2 class='bordered'> Costs </h2>

      <p>When it comes to our costs, we have two different lists. The first list is the current MVP we are designing. We have chosen to go with a more powerful compute device for this (Raspberry Pi 4) because we wanted to make sure that we have enough power to do what we want BotBuddy to do. From this, we have learned that we can go with something a lot less powerful and much cheaper, such as the Raspberry Pi Zero W 2. Nearly all the other components remain the same in nature, with the main difference being the bulk order pricing of those items. Lastly, when it comes to the outer casing, we are currently 3D printing it, but ultimately would move towards injection molding due to its cheap cost per unit once the mold is created.</p>

      <h3> Current Parts </h3>
      <ul>
        <li> Raspberry Pi 4 Model B 4GB : $55 </li>
        <li> Small LED Screen : Free (Included with Pi) </li>
        <li> USB Microphone : $5 </li>
        <li> 3W Speaker : $3 </li>
        <li> WiFi Adapter : $7 </li>
        <li> 3D Printed Outer Casing : $8 </li>
      </ul>
      <h3> Current Cost: $78 </h3>

      <br>

      <h3> Final Production and Bulk Pricing </h3>
      <ul>
        <li> Raspberry Pi Zero 2 W : $15/unit </li>
        <li> Small LED Screen : $1.70/unit </li>
        <li> Bulk Antenna Microphone : $1.50/unit </li>
        <li> 3W Speaker : $1.50/unit </li>
        <li> WiFi Adapter : $4/unit </li>
        <li> Injection Molded Outer Casing : $2/unit ($0.50 for parts, $1.50 for labor) </li>
        <li> Labor costs for assembly : $10/unit </li>
      </ul>
      <h3> Production Cost: $35.70/unit </h3>

      <br>
      <br>

      <h2 class='bordered'> Revenue </h2>

      <p>Our revenue model starts with the channels we will be selling through. To start, and most likely for a long time, we are going to be an online-only product. We would sell our product on our own website as well as through marketplaces like Amazon, Etsy, and more. The reason we are planning to start online only is because of the minimal costs of doing so as well as the ability to show videos of our products to potential customers. When it comes to marketing, we plan to have ads on popular websites and social media platforms, but we would also like to be an engaging company, creating YouTube videos, talking with potential customers online, and more.</p>

      <p>Further down the line, we would like to get our product in stores. We would want to focus on general stores such as Walmart and Target, but also get our product into home goods stores, such as HomeGoods and Ikea, and even other stores like Macys and Kohls. A benefit to having our product in stores is that customers can see it in person, and we would like to have a display model showing off its capabilities. This natural interaction between our product and potential customers cannot be created in an online only environment.</p>

      <h3> Initial Purchase Revenue </h3>

      <p>We are going to be pricing our product at $89.99. After interviewing potential customers and looking at the competitors in the market, this price has become apparent that it is the sweetspot. It is high enough where we will make a very good profit margin while the customers expect something that has a lot of features and is built with quality in mind, while also being low enough where the purchase doesn't break the bank, and an individual could easily go from visiting our website for the first time to finalizing their purchase of BotBuddy in one sitting.</p>

      <p>In the beginning, online will make up 100% of our initial sales. Using our calculations we have done in the past, we conservatively estimate that in the first year, we would sell 3800 units. The total COGS for the first year is $135,660; the total revenue for the first year is $341,962. Our first year profit would be $206,302.</p>

      <p>As time goes on, we would be able to negotiate lower prices with our suppliers, as well as gain more yearly sales as our product becomes more known with more amazing reviews and testimonials. We estimate in the second year, we could sell about 15,000 units, and in the third year 60,000 units. There would be costs for marketing, online store hosting, further development, and more, but overall we would be able to launch and sell this product effectively.</p>

      <h3> After Purchase Revenue </h3>

      <p>One key feature of our product is the ability to quickly change its appearance. This is done by popping off the current outer shell and clipping on a new one. We took this opportunity to create a second revenue stream, one that occurs after the customer has alreadt purchased their BotBuddy. We would offer a variety of different designs, from different colors to different outfits, character themed casings and more. We plan on selling this outer casing for $15 a piece, or $35 for a pack of 3. With a cost of only $2 per unit, this revenue stream has a very large profit margin and is extremely easy to maintain. We estimate that 40% of our customers would purchase at least one new outer casing for their BotBuddy; so, in our third year where we have 60,000 units sold, we would sell 24,000 additional outer casings, bringing in another $312,000 in revenue.</p>
      
    </section>

  </body>
</html>