<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Daniel Kubeck's TheraBot</title>
    <meta name="author" content="Daniel Kubeck">
    <meta name="description" content="Hosted with Style!">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> TheraBot Product Page </h1>
      <p> Assignment 4 Product UI </p>
      <!-- http://164.92.122.126/XXXXXX -->
      <a class="linkbutton" href="/"> Home </a>
      <a class="linkbutton" href="/product"> Product Page </a>
      <a class="linkbutton" href="/kvp"> KVP </a>
      <a class="linkbutton" href="/ui"> UI </a>
    </div>

    <section class='padding-responsive'>

      <h2 class='bordered'> UI Mock Up </h2>

      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1CPGqUjyWeYWGjil0leJ-SmwB6f4XBUGF" alt="Physical UI Mock-up 1">
      </div>

      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1pYu2UR88GBQ33NYH49IwlHRTr5CLORbP" alt="Physical UI Mock-up 2">
      </div>

      <h2 class='bordered'> Laws of UI Design </h2>

      <div class='separator'>1: Fitt's Law</div>
      <p>Alienware's website is a good exhibit of Fitt's Law. Immediately upon opening the site, you can quickly click to buy a desktop, laptop, or an accessory. They keep these options front and center, rather than exclusively under a drop down menu or near the bottom of the page. This makes the desired product pages be very easily accessible, allowing users to navigate the site faster and get to the point of purchase much quicker.</p>
      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1UgFX07kyFU8ZmpeDoayteZTBSqnzZsT0" alt="Fitt's Law Example">
      </div>

      <div class='separator'>2: Tesler's Law</div>
      <p>Amazon really shows the knowledge of Tesler's Law in their UI design. This is because the website is so complex, with millions and millions of items, yet they keep the UI as simple and intuitive as they can. On their home page, they have common categories and shortcuts to the highest use cases, but you can still dive deep into Amazon to find just how complex it can become. This shows they exhibit Tesler's Law because they understand that a certain amount of complexity cannot be reduced, so instead they do the best they can with it.</p>
      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1Wm1gqbh4GQE70VVtmbJDZQD6dh2-_JaC" alt="Tesler's Law Example">
      </div>
      
      <div class='separator'>3: Jakob's Law</div>
      <p>iTunes has been a software that has seeminlgy been around forever, and with this time, little seems to have changed to the UI. To this day, I am able to download iTunes and still know my way around the software, despite me not using it for months or even years at a time. Of course, things have improved, but the fact that the system has remained mostly the same and the UI is in the same layout its always been shows that iTunes applies Jakob's Law to their UI design.</p>
      <div class="imagebox">
        <img src="https://drive.google.com/uc?export=view&id=1xEEsZ31an6_Gvx07YpIdcLSuI5CgDeW-" alt="Jakob's Law Example">
      </div>
      
      
    </section>

  </body>
</html>